{% extends 'base.html' %}

{% block title %} Edit Post {% endblock %}


{% block body %}
<h1>Edit Post</h1>

<form method="POST" action="/posts/{{ post.id }}/edit">

    <div>
        <label for="title">Title: </label>
        <input id="title" name="title" value="{{ post.title }}">
    </div>

    <div>
        <label for="content">Post Content</label>
        <div>
            <textarea id="content" name="content">{{ post.content }}</textarea>
        </div>
    </div>

    <div>
        <!-- <a href="/users/{{ post.user_id }}">Cancel</a> -->
        <button formaction="/" formmethod="GET">Cancel</button>

        <button type="submit">Save</button>
    </div>

</form>



{% endblock %}