{% extends 'base.html' %}

{% block title %} Add Post {% endblock %}

{% block body %}

<h1>Add a Post for {{ user.first_name }} {{user.last_name }}</h1>
<p>Add a title and content, select the tags that apply, then click Add Post. </p>

<form method="POST">

    <label for="title">Title: </label>
    <input id=title type="text" name="post-title">

    <label for="text">Content: </label>
    <input id=text type="text" name="post-content">

    <div>
        {% for tag in tags %}
        <div>
            <input type="checkbox" value="{{ tag.id }}" id="tag_{{ tag.id }}" name="tags">
            <br>
            <label for="tag_{{ tag.id }}">
                {{ tag.name }}
            </label>
        </div>
        {% endfor %}
    </div>

    <div>
        <button type="submit">Add Post</button>
        <button formaction=" /users" formmethod="GET">Cancel</button>
    </div>

</form>

{% endblock %}